@model IEnumerable<Repository.Entities.Menu>
<!-- Menu Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Menümüz</h5>
            <h1 class="mb-5">Lezzet Restoran</h1>
        </div>
        <div class="tab-content">
            <div id="#tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img src="~/Img/@item.Image" alt="" class="form control" height="50" />
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>@item.Hedaer</span>
                                        <span class="text-primary">@item.amount TL</span>
                                    </h5>
                                    <small class="fst-italic">@item.Description</small>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>